.form {
    margin: 5px;
    background: white;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    width: 80%;
    border-radius: 4px;
    max-width: 500px;
}

.form div {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
}


.form h1 {
    color: rgb(3, 149, 234);
    font-weight: 500;
    font-size: 30px;
}

.form label {
    font-weight: 400;
    color: rgb(98, 98, 98);
}
